# Django secret key. Generate: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=

# w docker-compose host będzie 'postgres', tu localhost dla lokalnego setupu
DATABASE_URL=postgres://user:pass@localhost:5432/tibiantis

# Set True only for local dev. Production must keep False.
DJANGO_DEBUG=False

# comma-separated list, np. example.com,api.example.com
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
