# Django secret key. Generate: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=

# w docker-compose host będzie 'postgres', tu localhost dla lokalnego setupu
POSTGRES_USER=tibiantis
POSTGRES_PASSWORD=tibiantis
POSTGRES_DB=tibiantis
DATABASE_URL=postgres://tibiantis:tibiantis@localhost:5435/tibiantis
# Set True only for local dev. Production must keep False.
DJANGO_DEBUG=False

# comma-separated list, np. example.com,api.example.com
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

REDIS_URL=redis://localhost:6379/0

CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
